@model ReefTankCore.Web.Areas.Admin.Models.Categories.CategoryDetailsModel

@{
    ViewBag.Title = "Category";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="panel panel-info top-buffer">
        <div class="panel-heading">
            <a href="@Url.Action("Index", "Home", new {Area = "Admin" })"><i class="glyphicon glyphicon-chevron-left"></i><strong>Categories</strong></a>
            <h2>@Model.Name</h2>
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Common name</th>
                        <th>Scientific name</th>
                        <th>Species</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var sub in Model.Subcategories)
                {
                    <tr>
                        <td> @sub.CommonName </td>
                        <td> @sub.ScientificName </td>
                        <td> @sub.CreatureCount </td>
                        <td>
                            <a href="@Url.Action("Index","Creature", new { Area = "Admin", Slug = sub.Slug})"><i class="material-icons md-21">info</i></a>
                            <a href=""><i class="material-icons md-21">edit</i></a>
                            <a href=""><i class="material-icons md-21">delete</i></a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

